{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}

  {{ govukPhaseBanner({
    tag: {
      text: "Pilot"
    },
    html: 'This service is a pilot. If you have feedback about this service, email <a class="govuk-link" href="mailto:neet.feedback@education.gov.uk">neet.feedback@education.gov.uk</a>.'
  }) }}


  {{ govukBreadcrumbs({
    items: [
      {
        text: "Back",
        href: "/idea-2/upload-file"
      }
    ]
  }) }}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">

    {{ govukPanel({
      titleText: "File uploaded (ref: UHDWY234)",
      html: "Enrolment data received"
    }) }}

    <p class="govuk-body">We have sent you a confirmation email.</p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">We will check the data in your file against our records.</p>

    <p class="govuk-body"><strong>Your report will show any invalid ULNs that need your attention.</strong></div>
   
    <a href="/idea-2/data-validation" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        View your report
    </a>

  </div>
</div>

{% endblock %}
