{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">

    {{ govukPanel({
      titleText: "Submission complete",
      html: "Enrolment data submitted"
    }) }}

    <p class="govuk-body">We have sent you a confirmation email.</p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">Your submission has been logged and processed at the Department for Education.</p>

    <p class="govuk-body">If we need more information, we will contact you. </p>

    <p class="govuk-body">If you have feedback about this service, email <a href="#" class="govuk-link">neet.feedback@education.gov.uk</a> </p>

    <a href="/idea-2/reports" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        View your submissions
    </a>

  </div>
</div>

{% endblock %}
