{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/idea-2/upload-file"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-caption-l">
  Week commencing 3 September 2026
</span>

      <h1 class="govuk-heading-l">
    Your upload summary
      </h1>


    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Total enrolled"
          },
          value: {
            text: "120"
          }
        },
        {
          key: {
            text: "New enrolments"
          },
          value: {
            text: "10"
          }
        },
        {
          key: {
            text: "Withdrawals"
          },
          value: {
            text: "5"
          }
        },
        {
          key: {
            text: "Net change"
          },
          value: {
            text: "+5"
          }
        }
      ]
    }) }}

    {{ govukButton({
      text: "Submit",
      href: "/idea-2/confirmation"
    }) }}

    <div class="govuk-form-group">
      <a href="/idea-2/upload-file" class="govuk-link">Upload a different file</a>
    </div>

  </div>

</div>

{% endblock %}
