{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/idea-2/confirmation"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <span class="govuk-caption-l">
  Week commencing 14 September 2026
</span>

      <h1 class="govuk-heading-l">
    Your upload report
      </h1>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Total enrolled"
          },
          value: {
            text: "120"
          }
        },
        {
          key: {
            text: "New enrolments"
          },
          value: {
            text: "10"
          }
        },
        {
          key: {
            text: "Withdrawals and completions"
          },
          value: {
            text: "5"
          }
        },
        {
          key: {
            text: "Net change"
          },
          value: {
            text: "+5"
          }
        },
         {
          key: {
            text: "Invalid ULNs"
          },
          value: {
            text: "0"
          }
        },
         {
          key: {
            text: "Unknown ULNs"
          },
          value: {
            text: "0"
          }
        }
      ]
    }) }}

     {{ govukButton({
      text: "Continue to reports",
      href: "/idea-2/reports"
    }) }}

  </div>

</div>

{% endblock %}
