{% extends "layouts/main.html" %}


{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to homepage",
    href: "/idea-2/home"
  }) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Submission history</h1>
        <p class="govuk-body">View your latest submissions and see your reports. You can view reports for each collection period in your submission history. </p>
        <p class="govuk-body">Download the report of your most recent submission to see your latest figures. </p>
        

       <p class="govuk-!-font-weight-bold">Filter your submissions by month</p>

<span class="govuk-hint">
  Select one or more months to filter your submissions
</span>


<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input"
           id="filter-september"
           name="month"
           type="checkbox"
           value="september">

    <label class="govuk-label govuk-checkboxes__label" for="filter-september">
      September
    </label>
  </div>

  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input"
           id="filter-october"
           name="month"
           type="checkbox"
           value="october">

    <label class="govuk-label govuk-checkboxes__label" for="filter-october">
      October
    </label>
  </div>

  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input"
           id="filter-november"
           name="month"
           type="checkbox"
           value="november">

    <label class="govuk-label govuk-checkboxes__label" for="filter-november">
      November
    </label>
  </div>

</div>
   
        <h2 class="govuk-heading-l govuk-!-margin-top-6">Academic Collection Year 2026 to 2027</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Date</th>
                    <th scope="col" class="govuk-table__header">File</th>
                    <th scope="col" class="govuk-table__header">Submitted by</th>
                    <th scope="col" class="govuk-table__header">Reference</th>
                    <th scope="col" class="govuk-table__header">Reports</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                 <tr class="govuk-table__row" data-month="november">
                    <td class="govuk-table__header">6 November 2026 at 4:14pm</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link"2526_4903403590.xml>2526_4903403590.csv</a></td>
                    <td class="govuk-table__cell">Louis OREILLY</td>
                    <td class="govuk-table__cell">3495906</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link">Download report</a></td>
                </tr>
                <tr class="govuk-table__row" data-month="october">
                    <td class="govuk-table__header">30 October 2026 at 4:14pm</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link"2526_4903403590.xml>2526_4903403590.csv</a></td>
                    <td class="govuk-table__cell">Louis OREILLY</td>
                    <td class="govuk-table__cell">3495906</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link">Download report</a></td>
                </tr>
                <tr class="govuk-table__row" data-month="october">
                    <td class="govuk-table__header">23 October 2026 at 4:14pm</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link"2526_4903403590.xml>2526_4903403590.csv</a></td>
                    <td class="govuk-table__cell">Louis OREILLY</td>
                    <td class="govuk-table__cell">3495906</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link">Download report</a></td>
                </tr>
                <tr class="govuk-table__row" data-month="october">
                    <td class="govuk-table__header">16 October 2026 at 4:14pm</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link"2526_4903403590.xml>2526_4903403590.csv</a></td>
                    <td class="govuk-table__cell">Louis OREILLY</td>
                    <td class="govuk-table__cell">9054323</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link">Download report</a></td>
                </tr>
                <tr class="govuk-table__row" data-month="october">
                    <td class="govuk-table__header">9 October 2026 at 4:14pm</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link"2526_4903403590.xml>2526_4903403590.csv</a></td>
                    <td class="govuk-table__cell">Louis OREILLY</td>
                    <td class="govuk-table__cell">4903253</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link">Download report</a></td>
                </tr>
                  <tr class="govuk-table__row" data-month="october">
                    <td class="govuk-table__header">2 October 2026 at 4:14pm</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link"2526_4903403590.xml>2526_4903403590.csv</a></td>
                    <td class="govuk-table__cell">Louis OREILLY</td>
                    <td class="govuk-table__cell">4903253</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link">Download report</a></td>
                </tr>
                    <tr class="govuk-table__row" data-month="september">
                    <td class="govuk-table__header">25 September 2026 at 4:14pm</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link"2526_4903403590.xml>2526_4903403590.csv</a></td>
                    <td class="govuk-table__cell">Louis OREILLY</td>
                    <td class="govuk-table__cell">4903253</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link">Download report</a></td>
                </tr>
                    <tr class="govuk-table__row" data-month="september">
                    <td class="govuk-table__header">18 September 2026 at 4:14pm</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link"2526_4903403590.xml>2526_4903403590.csv</a></td>
                    <td class="govuk-table__cell">Louis OREILLY</td>
                    <td class="govuk-table__cell">4903253</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link">Download report</a></td>
                </tr>
                    <tr class="govuk-table__row" data-month="september">
                    <td class="govuk-table__header">11 September 2026 at 4:14pm</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link"2526_4903403590.xml>2526_4903403590.csv</a></td>
                    <td class="govuk-table__cell">Louis OREILLY</td>
                    <td class="govuk-table__cell">4903253</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link">Download report</a></td>
                </tr>
                    <tr class="govuk-table__row" data-month="september">
                    <td class="govuk-table__header">4 September 2026 at 4:14pm</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link"2526_4903403590.xml>2526_4903403590.csv</a></td>
                    <td class="govuk-table__cell">Louis OREILLY</td>
                    <td class="govuk-table__cell">4903253</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link">Download report</a></td>
                </tr>
            </tbody>
        </table>

<nav class="govuk-pagination" aria-label="Pagination">
<div class="govuk-pagination__prev">
  <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
    <svg class="govuk-pagination__icon govuk-pagination__icon--prev"
         xmlns="http://www.w3.org/2000/svg"
         height="13"
         width="15"
         aria-hidden="true"
         focusable="false"
         viewBox="0 0 15 13">
      <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
    </svg>

    <span class="govuk-pagination__link-title">
      Previous<span class="govuk-visually-hidden"> page</span>
    </span>
  </a>
</div>
  <ul class="govuk-pagination__list">
    <li class="govuk-pagination__item govuk-pagination__item--current">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
        1
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
        2
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
        3
      </a>
    </li>
  </ul>
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="#" rel="next">
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
    </a>
  </div>
</nav>

    </div>
</div>



</div>

<script>
  const filters = document.querySelectorAll('input[name="month"]')
  const submissions = Array.from(document.querySelectorAll('[data-month]'))
  const pagination = document.querySelector('.govuk-pagination')
  const paginationItems = document.querySelectorAll('.govuk-pagination__item')
  const paginationLinks = document.querySelectorAll('.govuk-pagination__item .govuk-pagination__link')
  const previousLink = document.querySelector('.govuk-pagination__prev a')
  const nextLink = document.querySelector('.govuk-pagination__next a')

  const itemsPerPage = 4
  let currentPage = 1

  function getMatchingSubmissions() {
    const selectedMonths = Array.from(filters)
      .filter(filter => filter.checked)
      .map(filter => filter.value)

    return submissions.filter(submission =>
      selectedMonths.length === 0 ||
      selectedMonths.includes(submission.dataset.month)
    )
  }

  function updatePage() {
    const matchingSubmissions = getMatchingSubmissions()
    const totalPages = Math.ceil(matchingSubmissions.length / itemsPerPage)

    if (previousLink) {
  const previousContainer = previousLink.closest('.govuk-pagination__prev')

  if (currentPage > 1) {
    previousContainer.style.display = ''
  } else {
    previousContainer.style.display = 'none'
  }
}
    if (currentPage > totalPages) {
      currentPage = 1
    }

    submissions.forEach(submission => {
      submission.style.display = 'none'
    })

    const start = (currentPage - 1) * itemsPerPage
    const end = start + itemsPerPage

    matchingSubmissions
      .slice(start, end)
      .forEach(submission => {
        submission.style.display = ''
      })

    paginationItems.forEach((item, index) => {
      const pageNumber = index + 1

      if (pageNumber <= totalPages) {
        item.style.display = ''

        item.classList.toggle(
          'govuk-pagination__item--current',
          pageNumber === currentPage
        )

        const link = item.querySelector('a')

        if (pageNumber === currentPage) {
          link.setAttribute('aria-current', 'page')
        } else {
          link.removeAttribute('aria-current')
        }
      } else {
        item.style.display = 'none'
      }
    })

    if (totalPages <= 1) {
      pagination.style.display = 'none'
    } else {
      pagination.style.display = ''
    }

    if (nextLink) {
      const nextContainer = nextLink.closest('.govuk-pagination__next')

      if (currentPage < totalPages) {
        nextContainer.style.display = ''
      } else {
        nextContainer.style.display = 'none'
      }
    }
  }

  paginationLinks.forEach((link, index) => {
    link.addEventListener('click', function (event) {
      event.preventDefault()
      currentPage = index + 1
      updatePage()
    })
  })

if (previousLink) {
  previousLink.addEventListener('click', function (event) {
    event.preventDefault()
    currentPage -= 1
    updatePage()
  })
}

  if (nextLink) {
    nextLink.addEventListener('click', function (event) {
      event.preventDefault()
      currentPage += 1
      updatePage()
    })
  }

  filters.forEach(filter => {
    filter.addEventListener('change', function () {
      currentPage = 1
      updatePage()
    })
  })

  updatePage()
</script>

{% endblock %}