{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block containerStart %}

  {{ govukPhaseBanner({
    tag: {
      text: "Pilot"
    },
    html: 'This service is a pilot. If you have feedback about this service, email <a class="govuk-link" href="mailto:neet.feedback@education.gov.uk">neet.feedback@education.gov.uk</a>.'
  }) }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/idea-2/home"
      },
      {
        text: "More timely data"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">

      <h1 class="govuk-heading-xl">
       More Timely Data Pilot
      </h1>

      <p class="govuk-body">This service is for colleges to submit and view weekly enrolment data.</p>

      <p class="govuk-body">Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>submit enrolment data</li>
        <li>view submitted enrolment data</li>
      </ul>

       <h2 class="govuk-heading-m">Before you start</h2>

       <p class="govuk-body">You must submit enrolment data every week for learners at your college who:</p>

      <ul class="govuk-list govuk-list--bullet">
                
        <li>are enrolled on at least one learning aim</li>
        <li>are receiving 16 to 19 funding (FundModel = 25)</li>

      </ul>

 <p class="govuk-body"><strong>Do not include learners who have:</strong></p>

      <ul class="govuk-list govuk-list--bullet">
        <li>completed all learning aims</li>
        <li>withdrawn from all learning aims</li>
      </ul>

 <p class="govuk-body"><strong>You will need to upload a CSV file containing the Unique Learner Numbers (ULNs) for eligible learners.</strong></p>

      {{ govukButton({
        text: "Start now",
        href: "/idea-2/upload-file",
        isStartButton: true      }) }}

    </div>

  </div>

{% endblock %}
