{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}

  {{ govukPhaseBanner({
    tag: {
      text: "Pilot"
    },
    html: 'This service is a pilot. If you have feedback about this service, email <a class="govuk-link" href="mailto:neet.feedback@education.gov.uk">neet.feedback@education.gov.uk</a>.'
  }) }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Back",
        href: "/idea-2/start"
      }
    ]
  }) }}

{% endblock %}


{% block protoScenarios %}
  <div class="proto-panel__scenario">
    <input class="proto-panel__checkbox" type="checkbox" id="toggle-file-uploaded" data-scenario="file-uploaded">
    <label class="proto-panel__label" for="toggle-file-uploaded">
      File already uploaded this week
      <small>Shows a previously submitted file notice</small>
    </label>
  </div>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
 

 <h1 class="govuk-heading-l">
  <span class="govuk-caption-l">
    Week commencing 14 September 2026
  </span>
  Upload your file
</h1>


    {# Alternate state: file already uploaded this week #}
    <div data-show-when="file-uploaded" hidden>
      <div class="govuk-notification-banner" role="alert">
        <div class="govuk-notification-banner__header">
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-heading-s">A submission has already been made today</p>
          <p class="govuk-body">Louis OREILLY submitted file WEC-39023-4390439.XML Any new submission will overwrite this one</p>
          <a class="govuk-link" href="/idea-2/submission-history">View submission history</a>
        </div>
      </div>
    </div>



    <p class="govuk-heading-m">Before uploading your file, make sure that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>it is in CSV format</li>
      <li>it is named <strong>MTD-LLLLLLLL-YYYY-WW-yyyymmdd-hhmmss.csv</strong></li>
      <li>it only contains valid ULNs</li>
      <li>if the ULN is unknown, use the placeholder value <strong>9999999999</strong></li>
      <li>you submit your data every week</li>
    </ul>

    <div class="govuk-inset-text">
  For the week commencing <strong>14 September 2026</strong>, use <strong>38 </strong> for the week (WW) following <a class="govuk-link" href="https://www.iso.org/iso-8601-date-and-time-format.html" target="_blank" rel="noopener noreferrer">ISO 8601</a>.
</div>

 <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    Submitting another file in the same week will replace the data you previously submitted.
  </strong>
</div>

    {{ govukFileUpload({
      id: "wac-file",
      name: "wacFile",
      label: {
        text: "Select a file to upload",
        classes: "govuk-label--s"
      }
    }) }}

    {{ govukButton({
      text: "Upload file",
      href: "/idea-2/confirmation"
    }) }}

   
  </div>


</div>

{% endblock %}
